.basket-drawer{
    width: 400px;
    font-family: 'b yekan';
    /* background-color: aqua; */
    height: 100%;
}
.basket-drawer-header{
    /* background-color: khaki; */
    height: 10%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid #E9F0F6;
}
.basket-drawer-header h2{
    /* background-color: aqua; */
    font-weight: 700;
    font-size: 18px;
}
.basket-drawer-header button{
    position: absolute;
    top: 13px;
    right: 13px;
    height: fit-content;
    background: none;
    outline: none;
    border: none;
    font-size: 28px;
    color: rgba(79, 110, 131, 1);
}
.basket-drawer-header button:hover{
    font-size: 32px;
}
.basket-drawer-products{
    /* background-color: darkorchid; */
    width: 100%;    
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basket-drawer-products-list{
    /* background-color: darkseagreen; */
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.basket-drawer-products-item{
    /* background-color: rgb(251, 11, 251); */
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #E9F0F6; 
}
.basket-drawer-products-item-img{
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(233, 240, 246, 1);
    border-radius: 20px;
}
.basket-drawer-products-item-img img{
    width: 84px;
    height: 84px;
    border-radius: 20px;
}
.basket-drawer-products-item-desc{
    /* background-color: lightcoral; */
    width: 200px;
    height: 100px;
}
.basket-drawer-products-item-desc h6{
    /* background-color: darkorange; */
    text-align: right;
    color: #4F6E83;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 18px;
    margin-top: 4px;
}
.basket-drawer-products-item-price{
    /* background-color: khaki; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.basket-drawer-products-item-price div{
    /* background-color: cornflowerblue; */
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0em;
}
.basket-drawer-products-item-price button{
    border: none;
    outline: none;
    margin: 0 7px;
}
.add-product-btn{
    background-color: #E9F0F7;
    width: 20px;
    height: 20px;
    color: #4F6E83;
    margin: 0 7px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-product-btn:hover{
    /* width: 22px;
    height: 22px; */
}

.basket-drawer-products-item-price p{
    /* background-color: hotpink; */
    margin: 0 7px;
    font-weight: 600;
    font-size: 16px;
    color: #2B3446;
}
.delete-product-btn{
    background: none;
    color: #F80A18;
    font-size: 20px;
}
.delete-product-btn:hover{
    /* font-size: 22px; */
}
.basket-drawer-totalPrice{
    /* background-color: navajowhite; */
    position: absolute;
    bottom: 0;
    /* height: 200px; */
    width: 100%;
    padding: 20px;
}
.basket-drawer-totalPrice-box{
    /* background-color: #F80A18; */
    direction: rtl;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 14px 0;
}
.basket-drawer-totalPrice-box p{
    /* background-color: aqua; */
    color: rgba(43, 52, 70, 1);
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.basket-drawer-totalPrice-box h6{
    color: rgba(79, 110, 131, 1);
    font-weight: 600;
    font-size: 14px;
    margin: 0;
}
.basket-drawer-discount-bar{
    width: 360px;
    height: 8px;
    background-color: #E9F0F7;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    margin: 30px 0 8px 0;
}
.basket-drawer-discount-bar-red{
    height: 100%;
    /* width: 50%; */
    background: linear-gradient(180deg, #F15F68 0%, rgba(255, 19, 34, 0.96) 100%);
    border-radius: 8px;
}
.basket-drawer-remainingMoney{
    direction: rtl;
    text-align: left;
    margin-bottom: 24px;
}
.basket-drawer-remainingMoney h5{
    color: #4F6E83;
    font-weight: 600;
    font-size: 14px;
    direction: rtl;
}
.basket-drawer-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    direction: rtl;
    margin-bottom: 12px;
}
.basket-drawer-btns button{
    width: 172px;
    height: 46px;
    outline: none;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    font-size: 14px;
}
.basket-drawer-btns-seeBasket{
    background: #F3F8FB;
    box-shadow: 2px 2px 0px #C3D0D9;
    margin-left: 8px;
    color: #2B3446;
}
.basket-drawer-btns-pay{
    background: #00C1DE;
    box-shadow: 2px 2px 0px #04A7BF;
    margin-right: 8px;
    color: #FFFFFF;
}
.basket-drawer-btns button:hover{
    box-shadow: none;
}