.footer-top{
    /* background-color: aqua; */
    border-top: 1px solid #ECF2F7;
    border-bottom: 2px dashed #ECF2F7;
    margin-top: 110px;
    direction: rtl;
    padding: 1% 200px;
}
.footer-top-row{
    /* text-align: right; */
}
.footer-top-number{
    /* background-color: brown; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 2% 0;     */
}
.footer-top-number p{
    direction: rtl;
    font-family: 'b yekan';
    font-weight: 700;
    font-size: 16px;
}
.footer-top-contact{
    /* background-color: darkgoldenrod; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 2% 0 0 0;    

}
.footer-top-contact h5{
    font-weight: 600;
    font-size: 16px;
    color: rgba(43, 52, 70, 1);
}
.footer-top-contact p{
    font-weight: 500;
    font-size: 14px;
    color: rgba(148, 166, 178, 1);
}
.footer-top-logo{
    /* background-color: green; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4% 0;    

}
.footer-top-logo img{
    width: 138px;
}

@media screen and (max-width:992px){
    .footer-top{
        padding: 1% 100px;
    }
    .footer-top-logo{
        justify-content: center;
    }
    .footer-top-contact{
        align-items: center;
    }
    .footer-top-number{
        justify-content: center;
    }
    .footer-top-logo img{
        width: 88px;
    }
}
@media screen and (max-width:576px){
    .footer-top{
        padding: 1% 20px;
    }
}